parameters:
    level: 8
    paths:
        - ../src
        - ../tests
    bootstrapFiles:
        - constants.php
    scanFiles:
        - ../vendor/nails/common/helpers/date.php
        - ../vendor/nails/common/helpers/url.php
        - ../vendor/nails/common/helpers/app_setting.php
